body{
    padding: 0;
    margin: 0;
}
.game-window{
    width: 100%;
    position: relative;
}
.html, #basket{
    position: absolute;
}
#basket{
    background-color: orange;
}
.html{
    width: 50px;
}